:root {
    --clr1: #ffffff;
    --clr2: #fafafa;
    --clr3: #8e8e8e;
    --clr4: #444444;
    --clr5: #2d302e;
    --clr6: #0b9150;
    --clr7: #0b91502e;
    --clr8: #2d302e39;


    --l: 980px;
    --m: 860px;
    --s: 740px;
}